body {
    background: #19182d; /* Background hitam */
    color: #fff; /* Warna teks putih */
    font-size: 14px;
  }
  
  .container {
    max-width: 600px;
    margin-top: 50px;
    padding: 20px;
  }
  
  p.text-muted {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.6em; /* Ukuran font sedikit lebih besar */
    color: #ffffff !important; /* Warna teks yang lebih lembut */
    line-height: 1.6;
  }
  
  .card.form-card {
    width: 100%;
    max-width: 480px;
    margin: 0 auto 30px auto;
    padding: 20px;
    background-color: #001f3e; /* Dark Blue */
    color: #fff; /* Teks putih */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  textarea, input[type="file"] {
    font-size: 13px;
    padding: 6px 10px;
  }
  
  textarea {
    resize: none;
  }
  
  .section-title {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
  
  .btn {
    padding: 6px 16px;
    font-size: 14px;
    border-radius: 8px;
  }
  